* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

nav {
  width: 100%;
  background: #245cc1;
}

nav a {
  color: white;
  padding: 0.5rem 2rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}

.clear-padding-top {
  padding-top: 0 !important;
}

.clear-padding-bottom {
  padding-bottom: 0 !important;
}

.clear-padding-x {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.clear-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.clear-margin-top {
  margin-top: 0 !important;
}

.clear-margin-bottom {
  margin-bottom: 0 !important;
}

.clear-margin-x {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.clear-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.front-grid {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  margin: 0;
}

.cover-background {
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
}